[user]
	name = Avery Chan
	email = avery@ootbdev.com
[color]
	ui = true
[alias]
	stat = status
	co = checkout
	l = log --graph --oneline  --decorate
	ll = log --all --graph --oneline --decorate
[credential]
	helper = cache --timeout=3600


