[user]
	name = Avery Chan
	email = avery@ootbdev.com
[color]
	ui = true
[alias]
	stat = status
	co = checkout
	l = log --graph --oneline  --decorate
	ll = log --all --graph --oneline --decorate
[credential]
	helper = cache --timeout=3600
[push]
	default = matching
[core]
	excludesfile = /Users/avery/.gitignore
	
;; `filter "lfs"` injected by Git Desktop
;; Ugh. Thanks for telling me.
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
